In [1]:
import pandas as pd
import numpy as np
from PIL import Image
import glob, os
from matplotlib import pyplot as plt

In [41]:
paths_coca = glob.glob("dataset/coca/imgs/*")

In [42]:
df_size_coca = pd.DataFrame({"x": [np.nan] * 1000,"y": [np.nan] * 1000})

In [43]:
df_size_coca

      x   y
0   NaN NaN
1   NaN NaN
2   NaN NaN
3   NaN NaN
4   NaN NaN
..   ..  ..
995 NaN NaN
996 NaN NaN
997 NaN NaN
998 NaN NaN
999 NaN NaN

[1000 rows x 2 columns]

In [44]:
for i, path in enumerate(paths_coca): 
    img = Image.open(path)
    df_size_coca["x"][i] = img.size[0]
    df_size_coca["y"][i] = img.size[1]

In [45]:
df_size_coca.dropna(inplace = True)

In [48]:
df_size_coca.describe()

                 x            y
count   124.000000   124.000000
mean    650.967742   701.120968
std     512.764164   682.903302
min     133.000000   173.000000
25%     225.000000   271.000000
50%     555.000000   496.000000
75%     960.000000   960.000000
max    3456.000000  5184.000000

In [72]:

def convert_to_jpeg(input_path, output_path):
    try:
        img = Image.open(input_path)
        img = img.resize((675,675))
        img = img.convert("RGB")
        img.save(output_path, 'JPEG')

    except Exception as e:
        print(f"Erro ao processar o arquivo: {e}")

diretorio_origem = '/Users/henricobela/Desktop/Estudos/Challenge/SAP-GPT/model/dataset/coca/imgs'

diretorio_destino = '/Users/henricobela/Desktop/Estudos/Challenge/SAP-GPT/model/dataset/coca/imgs_jpg'

arquivos = os.listdir(diretorio_origem)



i = 1
for arquivo in arquivos:
    nome = "coca_" + f"{i}"
    arquivo_completo_origem = os.path.join(diretorio_origem, arquivo)
    arquivo_completo_destino = os.path.join(diretorio_destino, f'{nome}.jpeg')
    convert_to_jpeg(arquivo_completo_origem, arquivo_completo_destino)
    i += 1

/Users/henricobela/Library/Python/3.9/lib/python/site-packages/PIL/Image.py:979: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  warnings.warn(

In [73]:
diretorio_origem = '/Users/henricobela/Desktop/Estudos/Challenge/SAP-GPT/model/dataset/fanta/imgs'

diretorio_destino = '/Users/henricobela/Desktop/Estudos/Challenge/SAP-GPT/model/dataset/fanta/imgs_jpg'

arquivos = os.listdir(diretorio_origem)

In [74]:
i = 1
for arquivo in arquivos:
    nome = "fanta_" + f"{i}"
    arquivo_completo_origem = os.path.join(diretorio_origem, arquivo)
    arquivo_completo_destino = os.path.join(diretorio_destino, f'{nome}.jpeg')
    convert_to_jpeg(arquivo_completo_origem, arquivo_completo_destino)
    i += 1

In [78]:
import Augmentor

In [79]:
p = Augmentor.Pipeline("/Users/henricobela/Downloads/dataset/fanta/imgs_jpg")

Initialised with 103 image(s) found.
Output directory set to /Users/henricobela/Downloads/dataset/fanta/imgs_jpg/output.

In [80]:
p.rotate(probability=0.7, max_left_rotation=10, max_right_rotation=10)
p.zoom(probability=0.3, min_factor=1.1, max_factor=1.6)
p.flip_left_right(0.5)
p.black_and_white(0.1)
p.skew(0.4, 0.5)
p.sample(100)

Processing <PIL.Image.Image image mode=RGB size=675x675 at 0x141A2A640>: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:00<00:00, 131.66 Samples/s]

In [84]:
path_coca = "/Users/henricobela/Downloads/dataset/coca/imgs_jpg/output"
path_fanta = "/Users/henricobela/Downloads/dataset/fanta/imgs_jpg/output"
paths = [path_coca, path_fanta]

In [85]:
diretorio_origem = path_coca

diretorio_destino = '/Users/henricobela/Downloads/dataset/coca/imgs_jpg'

arquivos = os.listdir(diretorio_origem)

In [86]:
i = 1
for arquivo in arquivos:
    nome = "coca_aug" + f"{i}"
    arquivo_completo_origem = os.path.join(diretorio_origem, arquivo)
    arquivo_completo_destino = os.path.join(diretorio_destino, f'{nome}.jpeg')
    convert_to_jpeg(arquivo_completo_origem, arquivo_completo_destino)
    i += 1

In [87]:
diretorio_origem = path_fanta

diretorio_destino = '/Users/henricobela/Downloads/dataset/fanta/imgs_jpg'

arquivos = os.listdir(diretorio_origem)

In [88]:
i = 1
for arquivo in arquivos:
    nome = "fanta_aug" + f"{i}"
    arquivo_completo_origem = os.path.join(diretorio_origem, arquivo)
    arquivo_completo_destino = os.path.join(diretorio_destino, f'{nome}.jpeg')
    convert_to_jpeg(arquivo_completo_origem, arquivo_completo_destino)
    i += 1

In [2]:
df = pd.DataFrame({"x_coca": [np.nan] * 1000,"y_coca": [np.nan] * 1000, "x_fanta": [np.nan] * 1000,"y_fanta": [np.nan] * 1000})

In [3]:
paths_coca = glob.glob("/Users/henricobela/Downloads/dataset/coca/imgs_jpg/*")
paths_fanta = glob.glob("/Users/henricobela/Downloads/dataset/fanta/imgs_jpg/*")

In [4]:
for i, path in enumerate(paths_coca):
    img = Image.open(path)
    df["x_coca"][i] = img.size[0]
    df["y_coca"][i] = img.size[1]

for i, path in enumerate(paths_fanta):
    img = Image.open(path)
    df["x_fanta"][i] = img.size[0]
    df["y_fanta"][i] = img.size[1]

In [5]:
df.dropna(inplace = True)

In [6]:
df.describe()

       x_coca  y_coca  x_fanta  y_fanta
count   203.0   203.0    203.0    203.0
mean    675.0   675.0    675.0    675.0
std       0.0     0.0      0.0      0.0
min     675.0   675.0    675.0    675.0
25%     675.0   675.0    675.0    675.0
50%     675.0   675.0    675.0    675.0
75%     675.0   675.0    675.0    675.0
max     675.0   675.0    675.0    675.0

In [7]:
df

     x_coca  y_coca  x_fanta  y_fanta
0     675.0   675.0    675.0    675.0
1     675.0   675.0    675.0    675.0
2     675.0   675.0    675.0    675.0
3     675.0   675.0    675.0    675.0
4     675.0   675.0    675.0    675.0
..      ...     ...      ...      ...
198   675.0   675.0    675.0    675.0
199   675.0   675.0    675.0    675.0
200   675.0   675.0    675.0    675.0
201   675.0   675.0    675.0    675.0
202   675.0   675.0    675.0    675.0

[203 rows x 4 columns]

In [10]:
paths = paths_coca + paths_fanta

In [13]:
img = Image.open(paths[0])

In [41]:
array_list = []

In [42]:
for i, path in enumerate(paths):
    img = Image.open(path)
    array_list.append(np.array(img))

In [43]:
array_list = np.array(array_list)

In [46]:
array_list.shape

(427, 675, 675, 3)

In [49]:
array_list

array([[[[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        ...,

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]]],


       [[[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        ...,

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]]],


       [[[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [252, 254, 251],
         [252, 254, 249],
         [252, 254, 249]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [252, 254, 251],
         [252, 254, 249],
         [252, 254, 249]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [252, 254, 251],
         [252, 254, 249],
         [252, 254, 249]],

        ...,

        [[190, 190, 190],
         [191, 191, 191],
         [191, 191, 191],
         ...,
         [240, 238, 239],
         [237, 235, 236],
         [234, 232, 233]],

        [[190, 190, 190],
         [191, 191, 191],
         [191, 191, 191],
         ...,
         [240, 238, 239],
         [237, 235, 236],
         [234, 232, 233]],

        [[190, 190, 190],
         [191, 191, 191],
         [191, 191, 191],
         ...,
         [240, 238, 239],
         [237, 235, 236],
         [234, 232, 233]]],


       ...,


       [[[238, 198,  15],
         [240, 200,  16],
         [237, 199,  14],
         ...,
         [199, 156, 137],
         [217, 178, 161],
         [234, 195, 178]],

        [[239, 199,  16],
         [241, 201,  17],
         [239, 201,  14],
         ...,
         [201, 158, 139],
         [218, 179, 162],
         [236, 197, 180]],

        [[240, 200,  17],
         [243, 203,  19],
         [241, 203,  16],
         ...,
         [203, 160, 143],
         [221, 182, 167],
         [238, 199, 184]],

        ...,

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [193,   0,   3],
         [193,   0,   3],
         [193,   0,   3]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [193,   0,   3],
         [193,   0,   3],
         [193,   0,   3]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [193,   0,   3],
         [193,   0,   3],
         [193,   0,   3]]],


       [[[ 33,  19,   0],
         [ 31,  19,   0],
         [ 31,  19,   5],
         ...,
         [186,  89,   8],
         [180,  81,  13],
         [174,  75,   7]],

        [[ 44,  28,   0],
         [ 42,  27,   0],
         [ 39,  23,   7],
         ...,
         [199, 103,  17],
         [194,  96,  21],
         [188,  90,  17]],

        [[ 72,  50,   9],
         [ 68,  48,  13],
         [ 64,  44,  20],
         ...,
         [217, 120,  25],
         [213, 114,  29],
         [209, 110,  27]],

        ...,

        [[ 94,  58,  46],
         [ 93,  57,  43],
         [ 94,  57,  41],
         ...,
         [  9,   8,   6],
         [  9,   8,   6],
         [  9,   8,   6]],

        [[ 94,  58,  46],
         [ 94,  58,  44],
         [ 94,  56,  43],
         ...,
         [  9,   8,   6],
         [  9,   8,   6],
         [  9,   8,   6]],

        [[ 94,  58,  46],
         [ 94,  58,  44],
         [ 94,  56,  43],
         ...,
         [  9,   8,   6],
         [  9,   8,   6],
         [  9,   8,   6]]],


       [[[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        [[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [255, 255, 255],
         [255, 255, 255],
         [255, 255, 255]],

        ...,

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]],

        [[255, 255, 255],
         [255, 255, 255],
         [255, 255, 255],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]]]], dtype=uint8)